<h1>Listing beer clubs</h1>

<% if not @beer_clubs.empty? %>
    <%= render 'list', beer_clubs:@beer_clubs %>
<% else %>
    <p>No known beer clubs.</p>
<% end %>

<%= link_to 'New Beer club', new_beer_club_path if current_user %>
