<h1>Listing styles</h1>

<table>
  <thead>
    <th>Name</th>
  </thead>

  <tbody>
    <% @styles.each do |style| %>
      <tr>
        <td><%= link_to style.name, style %></td>
      </tr>
    <% end %>
  </tbody>

  <tfoot>
    <th>Name</th>
  </tfoot>
</table>

<br>

<%= link_to 'New Style', new_style_path %>
