<h1>Listing beers</h1>

<% if not @beers.empty? %>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Style</th>
      <th>Brewery</th>
    </tr>
  </thead>

  <tbody>
    <% @beers.each do |beer| %>
      <tr>
        <td><%= link_to beer.name, beer %></td>
        <td><%= beer.style %></td>
        <td><%= link_to beer.brewery.name, beer.brewery %></td>
      </tr>
    <% end %>
  </tbody>

  <tfoot>
    <tr>
      <th>Name</th>
      <th>Style</th>
      <th>Brewery</th>
    </tr>
  </tfoot>

</table>
<% else %>
    No known beers.
<% end %>

<%= link_to 'New Beer', new_beer_path if current_user %><br />
